*.xcbkptlist
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
.DS_Store
/SwiftUI-SotkaApp.xcodeproj/xcuserdata
SwiftUI-SotkaApp.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
firebase-debug.log

# Backend
Backend/

# Build
buildServer.json
build/
.build/
/.continue

# Qwen
.qwen/.env

# Fastlane
fastlane/report.xml
# HTML отчеты по скриншотам (iPhone и Watch)
fastlane/screenshots/**/screenshots.html
SwiftUI-SotkaApp/GoogleService-Info.plist
